<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= current_user.name %></h3>
  </div>
  <div class="panel-body">
    <div class="sidebar-nav">
        <ul class="nav nav-list">
          <li><a href="#">Inbox <span class="badge badge-info">4</span></a></li>
          <li><a href="#">Sent</a></li>
          <li><a href="#">Compose</a></li>
        </ul>
      </div>
  </div>
</div>
